::selection {
  color: rgb(0, 0, 0);
  background: rgb(0, 149, 255);
}
@font-face {
    font-family: 'Afacad_Flux';
    src: url('/fonts/Afacad_Flux.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
  
